

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}




#calculator{
    font-family: Arial,sans-serif;
    background-color: rgb(26, 24, 24);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(160, 71, 71);
    color: white;
}










#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}







button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(14, 12, 12);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color:rgb(12, 2, 2)
}
button:active{
    background-color: rgb(124, 12, 12);
}
.operator-btn{
    background-color: orange;
}
.operator-btn:hover{
    background-color: rgb(201, 161, 87);
}
.operator-btn:active{
    background-color: rgb(51, 36, 7);
}
.pa{
    width: px;
}